# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/
build/
Doc/

# ignore all files ending with ~
*~ 

# ignore all files ending with bck
*bck

# ignore all files ending with jar
*.jar
